<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		<h2 class="h2"><a href="{{post.link}}">{{post.title|highlight(query)}}</a></h2>
		{% if not fn('is_search') %}
	  <p class="postmeta"><a href="{{post.author.path}}"> {{ post.author.name }} </a> | <strong>{{ post.post_date|date('j F Y') }}</strong></p>
	  {% endif %}
		<p>{{post.get_preview(50)|highlight(query)}}</p>

		{% if post.get_thumbnail %}
		<a href="{{post.link}}">
			<img src="{{post.thumbnail.src}}" title="{{post.title}} »" />
		</a>
		{% endif %}
	{% endblock %}
</article>
